@import url('main.css');
.menu li:nth-child(1) a {
    background-color: #0c1f2b;  
    color: #ffffff; 
    font-weight: bold;  
  }
  .menu li:nth-child(1) a:hover{
    background-color: #ffffff;
    color: #000000;
  }
.menu li:nth-child(2) a {
    background-color: #ffffff; /* Change the background color for the first menu item */
    color: #000000; /* Change the text color for the first menu item */
    font-weight: bold;  
  }
  .appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 120px;
    font-family: "Poppins";
    font-weight: 400;
    background-color: #14333f37;
    
  }
  .appointment-table  th,
  .appointment-table td {
    padding: 10px;
    border: 1px solid #ffffff;
  }
  
  .appointment-table th {
    background-color: #0c1f2b;
    text-align: left;
    font-weight: bold;
    color: #b8b7b7;
  }
  
  .appointment-table  tbody tr:nth-child(even) {
    background-color: #eaeaea;
  }
  
  .appointment-table tbody tr:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
  .cards{
    background-color: #ffffff;
    color: #b8b7b7;

    padding-right: 12px;
  }
  button{
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15.5px;
    font-weight: bold;
    font-family: "Poppins";
    cursor: pointer;
    border-radius: 4px;
    margin-right: 4px;
    margin-left:4px;
  }
  .remove-btn{
    background-color: crimson;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15.5px;
    font-weight: bold;
    font-family: "Poppins";
    cursor: pointer;
    border-radius: 4px;
    margin-right: 4px;
    margin-left:4px;
  }
  .view-btn{
    background-color: rgb(12, 111, 173);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15.5px;
    font-weight: bold;
    font-family: "Poppins";
    cursor: pointer;
    border-radius: 4px;
    margin-right: 4px;
    margin-left:4px;
    
  }
  .addbtn{
 position: absolute;
width: 270px;
height: 52px; 
margin-top: 420px;
font-family: "Poppins";
  }
  .addbtn a{
    background-color: rgb(44, 187, 132);
  }