@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,500;1,100;1,200;1,300;1,500&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    /* background-image: url("/Synergy_Demo/Images/Bg_1.png");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover; */
}
  .con {
    display: flex;
    border-right: #101c3b solid 1px;
    width: 1500px;
    height: 1000px;
    /* box-shadow: 22px 21px 5px rgba(0, 0, 0, 0.156); */
  }
  
  .picturebox {
    flex: 1;
    background-color: #495867; /* Replace with your desired background color */
    /* Add any additional styles for the picturebox */
  }
  
  .form {
    flex: 1;
    background-color: #ffffff;
    padding-top: 120px;
 
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
     
    
 
}

form{
 
text-align: center;
padding-top: 100px;
margin-top: 20px;
padding-bottom: 200px;

}
input{
  width:300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: 'Quicksand';
  color: #000;
  font-weight: 600;
  border: #101c3b 1.3px solid;
}
input:hover{
  border: #101c3b 2px solid;
  cursor:text;
}
 
a{
  
   text-decoration: none;
   list-style: none;
   color: #000;
   font-size: 14px;
  width: 500px;
 padding-left:90px ;
 padding-right: 300px;

}

.sign-in{
  margin-top: 50px;
  margin-bottom: 15px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins";
  font-size: 16px;
  background-color: #DB2955;
  color: white;
  border: none;
  border-radius:3.3px ;
  cursor: pointer;
}
.sign-in-google{
  margin-top: 0px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins";
  font-size: 16px;
  background-color: #628395;
  color: rgb(255, 255, 255);
 border: none;
 cursor: pointer;
  

  
}
i{
  width: 30px;
  height: 20px;
 align-self: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 12px;
  color: #ffffff;
  margin-right: 20px;
  font-size: 20px;
  
}
.logo
{ 
  text-align: center;
  margin-top: 250px;
}
.headertext{
 
 text-align: center;
 padding-top: 10px;
 margin-top: 10px;
 font-family: 'Poppins';
 color: white;
 font-weight: 300;
 
}
span{
  font-weight: 400;
  font-size: 40px;
}
.demo_text{
  font-size: 22px;
}
footer{
  font-family: 'Poppins';
  color: white;
  font-size: 20px;
  margin-top: 330px;
  text-align: center;
  
}
.welx{
 
  text-align: center;

}
.enter{
  
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 200;
  

} 
 
