@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,500;1,100;1,200;1,300;1,500&display=swap");

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.frame {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  border-bottom: 2px solid red;
 
  background-repeat: none;
  background-position: center;
  background-size: cover;
 
}

.sidebar {
   
  border-radius: 0px 30px 0px 0px;
  width: 260px;
  height: 100vh;
  background-color: #0c1f2b;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.logo h3 {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
  color: #000000;
}
.logo {
  text-align: center;
  margin-bottom: 45px;
  width: 230px;
  height: 107px;
  left: 0px;
  top: 90px;
  padding-top: 40px;
}

.logo img {
  width: 60px; /* Adjust the width and height as needed */
  height: 60px;
}

.menu {
  list-style: none;
  padding: 0px;
  margin-bottom: 40px;
}

.menu li {
  margin-bottom: 10px;
}

 .menu li a {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 220px; /* Adjust the width as needed */
   height: 45px;  
   text-align: center;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 10px;
  cursor: pointer;  
}
.menu li:first-child a {
  background-color: #ffffff; /* Change the background color for the first menu item */
  color: #000000; /* Change the text color for the first menu item */
  font-weight: bold; /* Add emphasis to the first menu item */
}

.menu a:hover {
  background-color: white; /* Remove the background color on hover for elements other than the first */
  color: #000000; /* Change the text color on hover for elements other than the first */
}

.menu i {
  margin-right: 25px; /* Adjust the spacing between icon and label */
  font-size: 23px;
}
nav {
  position: absolute;
  width: 2255px;
  height: 100px;
  left: 161px;
  top: 36px;
  margin-left: 120px;
  margin-bottom: 100%;
 
}

h1 {
  width: 400px;
  height: 40px;
  padding-left: 20px;
  top: 36px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  
}
span {
  color: #055d83;
}
h4 {
  left: calc(50% - 2255px / 2 + 62.5px);
  padding-left: 20px;
  border: 1px soli firebrick;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32%;
  /* or 73px */

  color: #4b4848;
}
.main {
  position: absolute;
  margin-top: 100px;
  margin-left: 2700px;
  width: 2231px;
  height: 218px;
  align-items: center;
 
  top: 180px;
}
.cards {
  display: flex;
}

.card {
  flex: 1;
  text-align: left;
  border: 2px solid rgba(128, 128, 128, 0.246);
  border-right: 5px solid #0c1f2b;

  margin-right: 45px;
  padding-left: 25px;
  padding-bottom: 30px;
  color: #000000;
  font-family: "Poppins";
  font-size: 20px;
}

.card:last-child {
  margin-right: 0;
}
.card:first-child {
  color: #000000;
}
.patient-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 120px;
    font-family: "Poppins";
    font-weight: 400;
    background-color: #14333f37;
    
  }
  
  .patient-table th,
  
  .patient-table td {
    padding: 10px;
    border: 1px solid #ffffff;
  }
  
  .patient-table th {
    background-color: #0c1f2b;
    text-align: left;
    font-weight: bold;
    color: #b8b7b7;
  }
  
  .patient-table tbody tr:nth-child(even) {
    background-color: #eaeaea;
  }
  
  .patient-table tbody tr:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
  .chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  
    padding-top:70px;
    padding-bottom:70px;
    border-radius: 4px;
    border-right: 4px #0c1f2b solid ;
    
  }
  
  .chart {
    flex: 1;
    margin-right: 60px;
    margin-top: 30p;
  }
  #revenueCharst{
    background-color: #ffffff;
    margin-left: 70px;
    margin-right: 70px;
    color: rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  #appointmentsCharts{
    background-color: #ffffff;
    margin-left: 70px;
    margin-right: 70px;
    color: rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }